<router-outlet></router-outlet>
<!-- Un router-outlet est un élément clé dans le framework Angular. Il s'agit d'une directive qui agit comme un espace réservé dans lequel le contenu des composants Angular peut être dynamiquement chargé en fonction de l'URL de la page. Cela permet de créer des applications web à navigation multiple, où différents composants sont affichés en fonction des routes définies. Le router-outlet est donc utilisé pour afficher les vues des différents composants Angular de manière dynamique.
     C'est un concept important pour la création d'applications web interactives et modulaires avec Angular. -->

<app-layout></app-layout>